<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Intern Fair </title>
  <link rel="stylesheet" href="/static/base/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/static/base/images/logo.png">
</head>
<style>
  .link-play-buttons button {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
  }

  .btn-register {
    background: #1c0c35;
    color: #ffffff !important;
    font-weight: bold;
    border: 2px solid #8a57db;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }

  .btn-register:hover {
    /* color: #1c0c35 !important; */
    background: #8a57db !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    text-decoration: none;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }

  #register-section {
    background-color: #1c0c35;
    height: 30vh;
    text-align: center;
  }

  .heading-register {
    color: white;
    padding: 30px;
    font-weight: bold;
    font-size: 30px;
  }
 
</style>

<body>
  <!-- Navbar Menu  ---->
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img src="/static/base/images/logo.png" style="height: 10vh;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#top">Home <span class="sr-only">(current)</span></a>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#testimonials">Testimonials</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <!--- Banner Hero section ------->
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="promo-title">IIT Ropar Intern Fair</p>
          <a href="#" class="btn-register" style="background-color: transparent; font-size: 25px;">REGISTER</a>
        </div>
        <div class="col-md-6">
          <img src="/static/base/svg/undraw_email_campaign_qa8y.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <!--- Background wave Hero ---->
    <img src="/static/base/images/ground@-min.png" class="bottom-img" alt="">
  </section>

  <!--- About Section ------>
  <section id="about">
    <div class="container">
      <h3 class="title text-center">ABOUT US</h3>
      <div class="row">
        <div class="col-md-12 about">
          <p style="margin-top: 30px;">
            Finding the right talent as well as finding the best internship is difficult and tedious for both companies
            and applicants. Inter Fair, IIT Ropar brings a very innovative solution to this problem. It provides a
            platform for companies to hire India’s best talent for different profiles as well as a platform for students
            to get an internship or a placement in these companies.
          </p>
          <h3 class="about-title" style="margin-top: 15px;">Register as company</h3>
          <ul>
            <li>If your organization is looking for access to first-year undergraduates, sophomores and penultimate year
              students from IIT Ropar seeking spring weeks internships then this fair is a great opportunity for early
              engagement and to raise your profile with our highly-motivated students. We want to connect IIT Ropar's
              bright and talented students with employers who are seeking to fill vacancies for jobs or internships in
              their establishment. This is a wonderful opportunity for you to meet students from across all academic
              disciplines and class years, and establish a positive presence on our campus.</li>
            <li>Intern Fair Registration for startups. After you fill the form, one of our team members will contact
              you.</li>
            <li>Please Note: Filling the form is not a confirmation of your participation. Our team will contact you to
              discuss the same.</li>
          </ul>
          <div class="about-title" style="margin-top: 15px;">Register as student</div>
          <ul>
            <li>Internships are a fantastic way to gain some hands-on work experience. Having good grades is of utmost
              importance, but landing on an internship is probably more important to get the most out of it. Learning
              soft
              skills such as communication, will greatly expand your network of influential people. Speaking of
              networks,
              having a group of influential people around will help you greatly in your future. It’s no longer just
              about
              the grades; it's also about your reputation as a hard worker, your ability to sweet-talk an interviewer,
              and
              your desire to improve yourself. At this fair you can explore the opportunities open to you and take your
              first step on the career ladder.</li>
            <li>Companies offering internships and a little info about them -> Registration link for each company ->
              Guidelines -> Registration Form
            </li>
            <li>Please Note: Filling the form is not a confirmation of your participation. Our team will contact you to
              discuss the same.</li>
          </ul>
        </div>

      </div>
      <div class="col-md-6">
        <img src="/static/base/svg/undraw_mobile_marketing_iqbr.svg" class="img-fluid" alt="">
      </div>
    </div>
    </div>
  </section>




  <!-- Event Schedule -->
  <div id="schedule" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="section-title">
          <h3 class="title text-center"><span>Event</span> <span style="color: #dd0a37;">Schedule</span></h3>
        </div>
        <!-- /section title -->

        <div class="col-md-8 col-md-offset-2">

          <div class="events-wrapper">
            <!-- event -->
            <div class="event">
              <div class="event-day">
                <div>
                  <span class="day">15</span>
                  <span class="year">Feb, 2018</span>
                </div>
              </div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
                <h3 class="event-title">His id altera fabellas facilisis. Has eros assueverit cu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
                <p>By <a href="#">John Doe</a></p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
                <h3 class="event-title">Perpetua consectetuer definitiones id sea, mei utinam eripuit ne</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
                <p>By <a href="#">John Doe</a></p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
                <h3 class="event-title">At mucius deserunt delicatissimi eam, labitur detraxit ut sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
                <p>By <a href="#">John Doe</a></p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-day">
                <div>
                  <span class="day">16</span>
                  <span class="year">Feb, 2018</span>
                </div>
              </div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
                <h3 class="event-title">His id altera fabellas facilisis. Has eros assueverit cu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
                <p>By <a href="#">John Doe</a></p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
                <h3 class="event-title">At mucius deserunt delicatissimi eam, labitur detraxit ut sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
                <p>By <a href="#">John Doe</a></p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-day">
                <div>
                  <span class="day">17</span>
                  <span class="year">Feb, 2018</span>
                </div>
              </div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
                <h3 class="event-title">His id altera fabellas facilisis. Has eros assueverit cu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
                <p>By <a href="#">John Doe</a></p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM - 11 : 00 AM</p>
                <h3 class="event-title">At mucius deserunt delicatissimi eam, labitur detraxit ut sit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
                <p>By <a href="#">John Doe</a></p>
              </div>
            </div>
            <!-- /event -->
          </div>

          <div class="download-btn">
            <a href="#" class="main-btn">Download Schedule</a>
          </div>

        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Event Schedule -->


  <!---  Testimonials Section  --->
  <section id="testimonials">
    <div class="container">
      <h3 class="title text-center">TESTIMONIALS</h3>
      <div class="row offset-1">
        <div class="col-md-5 testimonials">
          <p class="feedback">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          </p>
          <img src="/static/base/images/testimonials/testimonial-1.jpg" alt="">
          <p class="user-details"><b>James</b><br>CEO at DIN</p>
        </div>
        <div class="col-md-5 testimonials">
          <p class="feedback">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          </p>
          <img src="/static/base/images/testimonials/testimonial-3.jpg" alt="">
          <p class="user-details"><b>William</b><br>Co-founder at ArtSpace</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer ------>
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-box">
          <img src="/static/base/images/logo.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-4 footer-box">

        </div>
        <div class="col-md-4 footer-box">
          <p id="contact"><b>OUR ADDRESS</b></p>
          <p><i class="fa fa-map-marker"></i>Indian Institute of Technology Ropar, 140001, Rupnagar, Punjab, India</p>
          <p><i class="fa fa-phone"></i>0188 124 2105</p>
          <p><i class="fa fa-envelope-o"></i>director@iitrpr.ac.in</p>
        </div>
        <div class="col-md-6 ">
          <p class="copyright">Copyright © 2019. All rights reserved | Designed by <a
              href="https://www.salvatoremandis.it/index-eng.html">Salvatore Mandis</a></p>
        </div>
        <div class="col-md-6 text-right">
          <!-- <p class="copyright">
              <a href="#">Privacy Policy</a>
              <a href="#">Cookie Policy</a>
              <a href="#">Terms & Conditions</a>
            </p> -->
        </div>
      </div>
      <br>
    </div>
  </section>
  <!--- Smooth Scroll js ---------->
  <script type="text/javascript" src="/static/base/js/smooth-scroll.js"></script>
  <script>
    var scroll = new SmoothScroll('a[href*="#"]');
  </script>
</body>

</html>