  <!-- Footer ------>
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 footer-box">
          <img src="/static/base/images/logo.png" alt="">
          <p>E-Cell of TBIF (Technology Business Incubation Foundation), IIT ROPAR is a non-profit organisation managed
            by team of students. We help budding entrepreneurs by offering them co-working space, advance computing
            facilities, seed funding, mentorship from experts and other resources required to incubate a company.
          </p>
        </div>
        <div class="col-lg-2 footer-box">
        </div>
        <div class="col-lg-6 footer-box">
          <p id="contact"><b>OUR ADDRESS</b></p>
          <p><i class="fa fa-map-marker"></i>Indian Institute of Technology Ropar, 140001, Rupnagar, Punjab, India</p>
          <p><i class="fa fa-phone"></i>0188 124 2105</p>
          <p><i class="fa fa-envelope-o"></i>director@iitrpr.ac.in</p>
        </div>
        <div class="col-lg-6 ">
          <p class="copyright">Copyright © 2019. All rights reserved | Ecell IIT Ropar</p>
        </div>
        <div class="col-lg-6 text-right">
          <!-- <p class="copyright">
              <a href="#">Privacy Policy</a>
              <a href="#">Cookie Policy</a>
              <a href="#">Terms & Conditions</a>
            </p> -->
        </div>
      </div>
      <br>
    </div>
  </section>