<!-- Footer ------>
<section id="footer">
  <div class="container">
    <div class="row center">
      <div class="col-sm-5 footer-box">
        <img src="/static/base/images/logo.png" alt="">
        <p>E-Cell of TBIF (Technology Business Incubation Foundation), IIT ROPAR is a non-profit organisation managed
          by team of students. We help budding entrepreneurs by offering them co-working space, advance computing
          facilities, seed funding, mentorship from experts and other resources required to incubate a company.
        </p>
      </div>
      <div class="col-sm-3 footer-box">
        <p id="contact" style="color: yellow;"><b>CONTACT FOR QUERIES</b></p>
        Vinay Sunda <i class="fa fa-phone"></i>+91-8146672840 </p>
      </div>
      <div class="col-sm-4 footer-box">
        <p id="contact"><b>OUR ADDRESS</b></p>
        <p><i class="fa fa-map-marker"></i>TBIF,3rd floor,Administration Block<br> IIT Ropar, Rupnagar, Punjab-140001</p>
        <p><i class="fa fa-phone"></i>+91-98922 61889</p>
        <p><i class="fa fa-envelope-o"></i>ecell@iitrpr.ac.in</p>
      </div>
      <div class="col-sm-12 ">
        <p class="copyr8" style="color: wheat;">Copyright © 2019. All rights reserved | Ecell IIT Ropar</p>
        <p class="credit" style="font-size: 12px; color: lightgrey;">Credits to Salvatore Mandis for design</p>
      </div>
      <div class="col-sm-12 ">
      </div>
    </div>
    <br>
  </div>
</section>